/* App-wide styles */
:root {
  /* colors */
  --white: rgb(255, 255, 255);
  --black: rgb(51, 51, 51);
  --purple: rgb(105, 35, 64);
  --purple-light: rgb(133, 71, 96);
  --purple-dark: rgb(80, 27, 49);
  --blue: rgb(64, 121, 136);
  --grey: rgb(223, 223, 223);
  --grey-hover: rgb(212, 212, 212);
  --grey-blue: rgb(165, 183, 190);
  --grey-blue-hover: rgb(148, 164, 170);

  /* theme colors */
  --primary: var(--purple);
  --secondary: var(--blue);
  --background: var(--white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: var(--background);
  color: var(--black);
  min-height: 100vh;
  min-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 10vh;
  color: var(--white);
}

main {
  margin: 1rem 2rem;
}

main h1 {
  color: var(--secondary);
}

main nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

main nav * {
  margin: 0 5px;
  padding: 5px;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  background-color: var(--purple);
  border-radius: 4px;
}

main nav *:hover {
  background-color: var(--purple-dark);
}

button {
  border-radius: 4px;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
  padding: 10px;
  border: none;
}

button:hover {
  background-color: var(--purple-dark);
}
