.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 15em;
}

.heroes li {
  cursor: pointer;
  color: var(--black);
  background-color: var(--grey);
  margin: 0.5em;
  height: 1.6em;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.heroes li:hover {
  background-color: var(--grey-hover);
}

.heroes li.selected {
  background-color: var(--grey-blue);
  color: white;
}

.heroes li.selected:hover {
  background-color: var(--grey-blue-hover);
}

.heroes li * {
  height: 100%;
  display: flex;
  align-items: center;
}

.heroes .badge {
  color: var(--white);
  padding: 0 0.2em;
  background-color: var(--secondary);
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
  min-width: 25px;
  justify-content: center;
}
